.msg{
    background-color: #03346E;
   /* width: 20%; */
    padding: 0.4rem;
    margin:0.5rem;
  
    clear: both;
    border-radius: 1rem;
    display: flex;
 
 
}
.right{
    float:right;
}
.left{
    float: left;
}